html{
    background-color: rgb(224, 220, 220);
}
.title{
background-color: rgb(67, 88, 138);
margin: 10px;
color: floralwhite ;
padding: 5px;
display:blocked;
border-radius:10px;


}
.delete{
    display:blocked;
    float: right;
    background-color:#f0f5f4;
	border-radius:10px;
}
